<div class="authentication">
	<div class="login">
		<%= render :partial => 'authentication/login_form' %>
	</div>
	<div class="register invisible", id="register_panel">
		<%= render :partial => 'authentication/signup_form' %>
	</div>
</div>