.post_box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 5px 15px 5px 15px;
	margin-bottom: 15px;
	color: #DBD8CC;
	a {
		color: #C4A347;
		&:hover {
			color: #B9E9DB;
		};
	}
	.time {
		font-size: 80%;
		font-weight: bold;
	}
	& strong {
		font-size: 115%;	
		font-weight: bold;
		letter-spacing: 2px;
	}
	ul {
		list-style-type: none;
		li { 
			display: inline;
		}
	}
	em {
		text-transform: capitalize;
		font-size: 110%;
		font-weight: bold;
		color: #FFE600;
	}
}
.normal {
	@extend .post_box;
	background-color: #746E52;
}

.private {
	@extend .post_box;
	background-color: #65484D;
}
.added {
	@extend .post_box;
	background-color: #5A823E;
}